/* Variables */
$quattro: 'Quattrocento Sans', sans-serif;

/* * * * * * */

/* * * * * RESET * * * * */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
	font-family: $quattro;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* * * * * * * * * */

.jumbotron{
	width:80%;
	margin-left: 10%;
}

.container{
	width: 80%;
	margin-left: 10%;
	background-color: #F5F5F5;
	height:auto;
}

.link-row{

}

.link-buttons{
	background-color: blue;
	color:white;
	padding:50px;
	text-align: center;
	transition: border-radius .5s;

	&:hover{
		border-radius:50%;
	}
}








